.login-container {
  background: #f4f1fb;
}

.login-card {
  max-width: 900px;
  width: 100%;
  background: #fff;
}

.login-form {
  flex: 1;
}

.login-image {
  background: linear-gradient(135deg, #8360c3, #2ebf91);
}

.login-image img {
  width: 100%;
}

.btn-primary {
  background-color: #6f42c1;
  border: none;
}

.btn-primary:hover {
  background-color: #5a32a3;
}
.input-group .btn-outline-secondary {
  border-left: none;
  border-color: lightgrey;
}
