.services-section {
  background-color: #0f172a;
  color: #fff;
  padding: 80px 0;
}

.text-orange {
  color: #f97316;
}

.icon-circle {
  background-color: #f97316;
  color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.icon-circle i {
    font-size: 1.7rem;
}
.icon-circle:hover {
  background-color: #fff;
  color: #f97316;
  transform: scale(1.1);
}

.service-card p {
  max-width: 260px;
  margin: 0 auto;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .services-section {
    padding: 60px 20px;
  }
  .icon-circle {
    width: 60px;
    height: 60px;
  }
}
