.text-color{
    color: #f97316 !important;
}
.container{
    cursor: pointer;
}
.border:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
  transition: all 0.3s ease;
}
